<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYF-etz0umR_T8J9B2zLSvNTZSaCM0PI0</string>
	<key>GCM_SENDER_ID</key>
	<string>878803204865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mega.plug</string>
	<key>PROJECT_ID</key>
	<string>mega-plug</string>
	<key>STORAGE_BUCKET</key>
	<string>mega-plug.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:878803204865:ios:06a9e1950cb85f00d0b900</string>
	<key>DATABASE_URL</key>
	<string>https://mega-plug-default-rtdb.firebaseio.com</string>
</dict>
</plist>
